.header {
  position: relative;
  border-bottom: 0.0625rem solid var(--color-border);
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-navigation__list {
  max-width: 30%;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  line-height: 1.25;
  gap: 1.25rem;
  padding: 2.09375rem 0 2.09375rem 0;
}

.header-navigation__item {
  padding: 0 0.5rem;
}

.header-navigation__link {
  letter-spacing: 0.01em;
  color: var(--black);
  text-decoration: none;
  transition: var(--transition-default);
}

.header-navigation__link:hover {
  text-decoration: underline;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0.25rem;
  padding-top: 10px;
}
.logo__image {
  max-width: 8.6875rem;

}

.logo__text {
  display: none;
  font-size: 1.5rem; /* Adjust size to fit your design */
  font-weight: bold;
  color: var(--darkblue); /* Use your brand color here */
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .logo__image {
    display: none; /* Hide the logo image */
  }

  .logo__text {
    display: inline; /* Show the text version */
  }

  .logo {
    position: static; /* Remove absolute positioning for better mobile alignment */
    text-align: center; /* Center align the text */
    padding: 40px 0; /* Add padding for spacing */
  }
}


.image-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-overlay img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
}
